---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Tax Wealth Not Work</title>
  </head>
  <body>
    <header class="navbar">
      <img src="/favicon.svg" alt="logo" width="40" height="40" />
    </header>
    <section>
      <h1 class="text-4xl">Tax Wealth Not Work</h1>
      <h2 class="text-2xl">New Zealand</h2>
    </section>
  </body>
</html>
