---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<li class="flex flex-col gap-1">
  <a
    href={href}
    target="_blank"
    rel="noopener"
    class="link link-primary font-semibold"
  >
    {title}
  </a>
  <span class="text-base-content/70">
    <slot />
  </span>
</li>
